{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="glass">
    
<div class="neon-accueil">

<div class="container mb-4">

<form method="post">
    
    
    <h1 class="text-center text-uppercase my-4">Mot de passe oublié</h1>
    
    <label for="email">Mon email de connexion</label>
    <input type="email" name="email" class="form-control" required>

    <button class="my-3 btn btn-lg btn-secondary" type="submit">
        envoyez un email
    </button>
    
</form></div></div></div>
{% endblock %}
