{% extends 'base.html.twig' %}

{% block title %}Nouveau Mot de passe{% endblock %}

{% block body %}
<div class="glass"><div class="neon-accueil">
<div class="container mb-4">
    <h1 class="text-center text-uppercase my-4">Changer le mot de passe</h1>

    {{ form_start(form) }}
     
        {{ form_row(form.plainPassword, {
            label: 'nouveau mot de passe'
        }) }}
     

        <button type="submit" class="btn btn-secondary">enregistrer le nouveau mot de passe</button>
    {{ form_end(form) }}
</div></div></div>
{% endblock %}
