{% extends 'base.html.twig' %}

{% block body %}
<div class="row ">
    {% for comment in comments %}
        <div class="col-md-3 bg-warning boder border-dark rounded p-3">
            <p>{{ comment.comment }}</p>
            <h3>{{ comment.rate }}/5</h3>
            <h6>Par {{ comment.user.nickname }}</h6>
        </div>
    {% endfor %}
</div>
{% endblock %}

{% block title %}

{% endblock %}

